<div class="content-wrapper">
  <div class="content-block">
    <h2>編集</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "名前" %>
      </div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "確認" %>
      </div>
      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード" %>
      </div>
      <div class="actions">
        <%= f.submit "更新", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= button_to "ユーザーの削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-delete" %></p>
    <%= link_to "戻る", :back %>
  </div>
</div>