<div class="content-wrapper">
  <div class="content-block">
    <% @posts.each do |post|%>
      <div class="content">
        <div class="title-block">
          <div class="image">
            <%= image_tag '男性.jpg' %>
          </div>
          <div class="main-title">
            <%= link_to post_path(post) do %>
              <div class="title">
                <p><%= post.title %>[<%= post.user.name %>]</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="text">
          <p><%= post.content %></p>
        </div>
        <div class="action-menu">
          <div class="like">
          </div>
          <div class="comment">
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'shared/sidebar' %>
</div>