<div id="header">
  <div class="logo">
    <%= link_to "6CH", root_path %>
  </div>  
  <div class="link">
    <ul id="nav">
      <li>
        <div class="search-tag">
          <%= form_tag(searchs_path,:method => 'get') do %>
            <%= text_field_tag :search, '', placeholder: "検索" %>
            <%= submit_tag 'Search', id: 'search_submit' %>
          <% end %>
        </div>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "投稿", new_post_path %>
        </li>
        <li>
          <%= link_to 'マイページ', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
        <li>
          <%= link_to '新規登録', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>