<div class="sidebar">
  <div class="box">
    <div class="image">
      <%= image_tag 'キリン.jpg' %>
    </div>
    <div class="coment">
      6chへようこそ！
    </div>
  </div>
  <div class="box category">
    <p>【カテゴリ一覧】</p>
    <ul>
      <% @categories.each do |category| %>
      <li>
        <%= link_to category.name, category_path(category) %>
      </li>
      <% end %>
    </ul>
    </div>
      </div>
    </div>