<div class="content-wrapper">
  <div class="content-block">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary", id: "login" %>
      </div>
    <% end %>
  </div>
</div>