<button type="button" class="btn_add_list" data-toggle="modal" data-target="#exampleModal-<%= c.id %>">返信</button>
<div class="modal fade" id="exampleModal-<%= c.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog wid" role="document">
    <div class="modal-content">
      <%= form_with(model:[post,comment], local: true) do |f| %>
        <div class="modal-body pd15170">
          <p>レスを投稿する</p>
          <ul class="modal-ul">
            <li>
              <%= f.text_area :body, rows: 9, value: ">>#{n+2}" %>
            </li>
          </ul>
        </div>
        <div class="modal-footer textcenter">
          <%= f.hidden_field :post_id, value: post.id %>
          <%= f.hidden_field :parent_id, value: c.id %>
          <%= f.submit "書き込む", class: "btn circle-btn" %>
          <button type="button" class="btn circle-btn pl-10" data-dismiss="modal">閉じる</button>
        </div>
      <% end %>
    </div>
  </div>
</div>