<div class="main">
  <h1>投稿を編集する</h1>
  <div class="add-category">
    <%= form_with(model: @category, local: true) do |f| %>
      <%= f.label :name, '新しいカテゴリ' %>
      <%= f.text_field :name %>
      <%= f.submit "追加", class: "button" %>
    <% end %>
  </div>  
  <div class="add-post">
    <%= form_with(model: @post, local: true) do |f| %>
      <p>[カテゴリ]</p>
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
        <%= category.label do %>
          <%= category.check_box %>
          <%= category.text %>
        <% end %>
      <% end %>
      <p>[タイトル]</p>
      <%= f.text_area :title, maxlength: 60, rows: 1, placeholder: "60文字以下" %>
      <p>[本文]</p>
      <%= f.text_area :content, rows: 5 %>
      <div class="submit-block">
        <%= f.submit "更新する", class: "button" %>
      </div>
    <% end %>
  </div>
</div>