<div class="content-wrapper">
  <div class="content-block">
    <div class="title">
      <h3><%= @post.title %>[<%= @post.user.name %>]</h3>
    </div>
    <div class="category">
      <span>★カテゴリ★</span>
      <span class="ml20">
        <% @post.categories.each do |category| %>
          <%= link_to "[#{category.name}]", category_path(category) %>
        <% end %>
      </span>
    </div>
    <div class="sured">
      <div class="name">
        <p>1 <span><%= @post.user.name %></span> <%= @post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
      </div>
      <div class="content">
        <%= @post.content %>
      </div>
      <% if current_user?(@post.user) %>
        <div class="link">
          <%= link_to "編集", edit_post_path(@post) %>
          <%= link_to "削除", post_path(@post), data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      <% end %>
    </div>
    <% @comments.each_with_index do |c, n| %>
      <div class="sured" id=<%=c.id%>>
        <div class="name">
          <p><%= n+2 %> <span><%= c.user.name %></span> <%= c.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
          <span>
            <% unless c.replies.nil? %>
              <% c.replies.each do |replie| %>
                <%= link_to "↓#{replie.user.name}", post_path(anchor: replie.id ), class: 'post' %>
              <% end %>
            <% end %>
          </span>
          </p>
          <% unless c.parent.nil? %>
            <%= link_to "↑#{c.parent.user.name}", post_path(anchor: c.parent.id ), class: 'post' %>
          <% end %>
        </div>
        <div class="content">
          <%= c.body %>
        </div>
        <div class="link">
          <% if user_signed_in? %>
            <%= render 'add_comment', comment: @comment, post: @post, c: c, n: n %>
          <% end %>
          <% if current_user?(c.user) %>
            <%= link_to "削除", comment_path(c), data: { confirm: "Are you sure?" }, method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
    <div class="comments-area">
      <h2>コメントする</h2>
      <%= form_with(model:[@post,@comment], local: true) do |f| %>
        <%= f.text_area :body, rows: 4, id: "comment_area" %>
        <%= f.hidden_field :post_id, value: @post.id %>
        <div class="submit-block">
          <%= f.submit "投稿", class: "button", id: "comment_btn" %>
        </div>
      <% end %> 
    </div>
    <% end %>
  </div>
  <%= render 'shared/sidebar' %>
</div>