#categories-show{
  .category-name{
    border-bottom: 1px solid;
    span{
      font-size: 20px;
    }
  }
  .content:nth-child(2n) {
    background-color: rgb(246,246,246);
  }
  .content{
    padding: 15px;
    margin: 40px 0; 
    background-color: white;
    border-bottom: 1px solid rgb(220,220,220);
    .title-block{
      display: flex;
      .image{
        width: 10%;
      }
      .main-title{
        width: 80%;
        display: flex;
      .title{
        font-size: 18px;
      }  
      }
    }
    .text{
      margin-top: 20px;
    }
  }
}