img{
  max-width: 100%;
}
.main{
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}
.content-wrapper{
  display: flex;
  margin: 20px auto;
  padding: 20px 50px;
  justify-content: space-around;
  background-color: rgb(218,224,230);
  .content-block{
    background-color: white;
    width: 60%;
    padding: 20px;
  }
  .sidebar{
    width: 25%;
    height: 700px;
    padding: 20px;
    background-color: white;
    .box{
      margin: 10px auto;
      padding: 10px;
      .coment{
        margin-top: 20px;
      }
    }
    .category{
      border: 1px solid;
      margin-top: 60px;
      padding: 40px 0 40px;
      p{
        font-size: 20px;
        color: blue;
        font-weight: 600;
      }
    }
  }
}

///header
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 50px;
  .logo{
    font-size: 20px;
  }
  .link{
    #nav{
      display: flex;
      list-style: none;
      margin-top: 10px;
      li{
        text-align: center;
        height: 50px;
        line-height: 50px;
        margin-right: 2px;
        a{
          text-decoration: none;
          color: blue;
          font-weight: bold;
          padding: 10px;
        }
        input[type="text"]{
          height: 40px;
          width: 200px;
        }
        input[type="submit"]{
          display: none;
        }
      }
    }
  }  
}

///footer
#footer{
  text-align: center;
  margin-top: 50px;
}

///notice
.toast{
  text-align: center;
  margin: 10px 0;
  .notice{
    background-color: orange;
    color: white;
    padding: 10px;
  }
  .alert{
    background-color: darkred;
    color: white;
    padding: 10px;
  }
}