#posts-new, #posts-create, #posts-edit, #posts-update{
  .add-category{
    margin-top: 50px;
  }
  .add-post{
    margin: 30px 20px 0 20px;
    p{
      margin-top: 10px;
    }
    form{
      textarea{
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        resize: none;
      }
      .submit-block{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
        .button{
          display: inline-block;
          border-radius: 5%;
          font-size: 18px;
          text-align: center;
          cursor: pointer;
          padding: 12px;
          background-color: #ccc;
          color: #fff;
          line-height: 1em;
          transition: .3s;
          box-shadow: 6px 6px 3px #666;
          border: 2px solid #ccc;
          }
          .button:hover{
            box-shadow: none;
            color: #333;
            background: #fff;
          }
      }
    }
  }
}

#posts-show{
  .content-wrapper{
    background-color: rgb(242,243,247);
    .content-block{
      background-color: rgb(242,243,247);
      .title{
        border-bottom: 1px solid;
        margin-bottom: 30px;
      }
      .category{
        margin-bottom: 20px;
        .ml20{
          margin-left: 20px;
        }
      }
      .sured{
        padding: 10px;
        background-color: rgb(239,239,239);
        border: 1px solid rgb(221,221,221);
        margin-bottom: 20px;
        .name{
          span{
            color: rgb(58,128,29);
            font-weight: 600;
          }
          a{
            font-weight: 600;
          }
          .up{
            margin: 0;
          }
        }
        .content{
          font-size: 16px;
          padding: 15px;
        }
        .link{
          .btn_add_list{
            color: cornflowerblue;
            border-color: cornflowerblue;
          }
          text-align: right;
          .modal-dialog{
            width: 25%;
            margin-top: 100px;
            .modal-body{
              text-align: left;
              height: 250px;
              p{
                color: grey;
                font-weight: 600;
              }
              .modal-ul{
                padding: 0;
                li{
                  list-style: none;
                  textarea{
                    width: 100%;
                    resize: none;
                  }
                }
              }
            } 
          }
        }
      }
      .comments-area{
        margin: 60px 20px;
        text-align: center;
        textarea{
          width: 100%;
          margin-bottom: 10px;
          resize: none;
        }
      }
    }
  }
}