#searchs-index{
  .result{
    background-color: aqua;
    margin-bottom: 35px;
    display: inline-block;
    h1{
      margin-top: 10px;
    }
  }
  .break{
    border-bottom: 1px solid;
    span{
      font-size: 20px;
    }
  }
  .content:nth-child(2n) {
    background-color: rgb(246,246,246);
  }
  .content{
    padding: 15px;
    margin: 20px; 
    background-color: white;
    border-bottom: 1px solid rgb(220,220,220);
    .title-block{
      display: flex;
      .image{
        width: 10%;
      }
      .main-title{
        width: 80%;
        display: flex;
      .title{
        font-size: 18px;
      }  
      }
    }
    .text{
      margin-top: 20px;
    }
  }
  .sured{
    padding: 10px;
    background-color: rgb(239,239,239);
    border: 1px solid rgb(221,221,221);
    margin: 20px;
    .name{
      span{
        color: rgb(58,128,29);
        font-weight: 600;
      }
    }
    .sured-content{
      font-size: 16px;
      padding: 15px;
    }
  }
}