#sessions-new, #registrations-new, #registrations-create{
  .content-block{
    height: 500px;
    text-align: center;
    input[type="email"], input[type="password"], input[type="text"]{
      width: 50%;
      padding: 10px 15px;
      font-size: 16px;
      border: 2px solid #ddd;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 10px;
    }
    input[type="submit"]{
      width: 50%;
      margin: 10px;
      background-color: rgb(72,82,107)
    }
  }
}
#registrations-edit, #registrations-update{
  .content-block{
    text-align: center;
    input[type="email"], input[type="password"], input[type="text"]{
      width: 50%;
      padding: 10px 15px;
      font-size: 16px;
      border: 2px solid #ddd;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 10px;
    }
    input[type="submit"]{
      width: 50%;
      margin: 10px;
      background-color: rgb(72,82,107)
    }
    input[type="submit"].btn-delete{
      background-color: saddlebrown;
      width: 20%;
      color: white;
    }
  }
}
#registrations-update{
  .content-block{
    height: 700px;
  }
  li{
    list-style: none;
  }
}
#registrations-create{
  .content-block{
    height: 600px;
  }
  li{
    list-style: none;
  }
}
