<div class="content-wrapper">
  <div class="content-block">
    <div class="result">
      <h1>結果："<%= @search %>"</h1>
    </div>
    <div class="break">
      <h2>スレッド一覧</h2>
    </div>
    <% unless @posts.blank? %>
    <% @posts.each do |post|%>
      <div class="content">
        <div class="title-block">
          <div class="image">
            <%= image_tag '男性.jpg' %>
          </div>
          <div class="main-title">
            <%= link_to post_path(post) do %>
              <div class="title">
                <p><%= post.title %>[<%= post.user.name %>]</p>
              </div>
            <% end %>
          </div>
        </div>
        <div class="text">
          <p><%= post.content %></p>
        </div>
      </div>
    <% end %>
    <% else %>
      <div class="content">
        <p>検索に一致するスレッドはありません</p>
      </div>
    <% end %>
    <div class="break">
      <h2>コメント一覧</h2>
    </div>
    <% unless @comments.blank? %>
    <% @comments.each do |comment| %>
      <div class="sured">
        <%= link_to post_path(comment.post) do %>
          <div class="name">
            <p><span><%= comment.user.name %></span> <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
          </div>
        <% end %>
        <div class="sured-content">
          <%= comment.body %>
        </div>
      </div>
    <% end %>
    <% else %>
      <div class="content">
        <p>検索に一致するコメントはありません</p>
      </div>
    <% end %>
  </div>
  <%= render 'shared/sidebar' %>
</div>